body{
    background-color: green;
    font-family: Arial; 
}

h1{
    text-align: center; 
    color: white; 
}

p{
    font-size: 22px;
    max-width: 280px; 
    padding: 10px; 
    background-color: #f4d48f;
}


main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

button{
    background-color: rgb(155, 98, 49); 
    padding: 10px 30px; 
    border-style: none; 
    color: white; 
    font-size: 24px; 
}

